<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Productos de datos</title>
</head>

<body>
    <header>
        <h2>EDA_distance_from_home</h2>
    </header>

    <div>
        <img src="{{url_for('static', filename='EDA_distance_from_home.png')}}" alt="report">
    </div>
	
	<header>
        <h2>EDA_distance_from_last_transaction</h2>
    </header>

    <div>
        <img src="{{url_for('static', filename='EDA_distance_from_last_transaction.png')}}" alt="report">
    </div>
	
	<header>
        <h2>EDA_ratio_to_median_purchase_price</h2>
    </header>

    <div>
        <img src="{{url_for('static', filename='EDA_ratio_to_median_purchase_price.png')}}" alt="report">
    </div>

</body>

</html>